<span class="myapptitle">Listing Categories</span>

<ul id="reportcategories">
	<% @report_categories.each do |report_category| %>
		<% content_tag_for :li, report_category do %>
		<span class="handle">[drag]</span>
		<%= report_category.Category_Kind_Description %>
	 	<%= link_to report_category.Category_Type_Description, report_category_path(report_category) %>
		<% end %>
	<% end %>	
</ul>

<%= sortable_element('report_categories', :url => sort_report_categories_path, :handle => 'handle') %>

<%= link_to 'New report_category', new_report_category_path %>
