<!-- PULL DOWN MENU - BEGIN -->

<ul class="art-menu">


      <li><a href="/homes" class=" active" target="_self" ><span class="l"></span><span class="r"></span><span class="t">Home</span></a></li>
      <li><a href="/reports" target="_self" ><span class="l"></span><span class="r"></span><span class="t">Reports</span></a><ul>
         <li><a href="/reports" target="_self" >Basel II</a><ul>
            <li><a href="/validations"  >Validations</a><ul>
               <li><a href="#"  >Report1</a></li>
               <li><a href="#"  >Report2</a></li>
               <li><a href="#"  >Report3</a></li>
            </ul></li>
            <li><a href="/validations/stats"  >Statistics</a></li>
         </ul></li>
         <li><a href="#" target="_self" >Greenbook</a><ul>
            <li><a href="#" target="_self" >Form 1</a></li>
            <li><a href="#" target="_self" >Form 2</a></li>
            <li><a href="#" target="_self" >Form 4</a></li>
            <li><a href="#" target="_self" >Form 4a</a></li>
            <li><a href="#" target="_self" >Form 8</a></li>
            <li><a href="#" target="_self" >Form 10</a></li>
            <li><a href="#" target="_self" >Form 12</a></li>
            <li><a href="#" target="_self" >Form 14</a></li>
            <li><a href="#" target="_self" >Form 15</a></li>
            <li><a href="#" target="_self" >Form 16</a></li>
            <li><a href="#" target="_self" >Form 17</a></li>
            <li><a href="#" target="_self" >Form 18</a></li>
            <li><a href="#" target="_self" >Form 19</a></li>
            <li><a href="#" target="_self" >Form 20</a></li>
            <li><a href="#" target="_self" >Form 21</a></li>
            <li><a href="#" target="_self" >Form 22</a></li>
            <li><a href="#" target="_self" >Form 35</a></li>
         </ul></li>
         <li><a href="#" target="_self" >Management Reporting</a></li>
      </ul></li>
      <li><a href="#" target="_self" ><span class="l"></span><span class="r"></span><span class="t">Accounts</span></a><ul>

         <li><a href="/account_plans" target="_self" >Account plan</a></li>
         <li><a href="#" target="_self" >Accounts</a></li>
         <li><a href="#" target="_self" >Hierarchy</a></li>
         <li><a href="#" target="_self" >Triplet finder</a></li>
         <li><a href="#" target="_self" >Account finder</a></li>
      </ul></li>
      <li><a href="#" target="_self" ><span class="l"></span><span class="r"></span><span class="t">Positions</span></a><ul>
         <li><a href="/counterparties" target="_self" >B2 Counterparties</a></li>
         <li><a href="/limits" target="_self" >B2 Limits</a></li>
         <li><a href="/loanbooks" target="_self" >B2 Loan Book</a></li>
         <li><a href="/nostros" target="_self" >B2 Nostro</a></li>
         <li><a href="/provisions" target="_self" >B2 Provisions</a></li>
         <li><a href="/derivatives" target="_self" >B2 OTC Derivatives</a></li>
         <li><a href="/client_security_positions" target="_self" >Client securities</a></li>
      </ul></li>
      <li><a href="#" target="_self" ><span class="l"></span><span class="r"></span><span class="t">Clients</span></a>
      <li><a href="#" target="_self" ><span class="l"></span><span class="r"></span><span class="t">Settings</span></a><ul>
         <li><a href="/b2_ta_mappings" target="_self" >Basel II</a></li>
         <li><a href="#" target="_self" >Fire</a></li>
         <li><a href="#" target="_self" >Fimis</a></li>
         <li><a href="/par_mappings" target="_self" >Generic</a></li>
      </ul></li>
      <li><a href="/validations" target="_self" ><span class="l"></span><span class="r"></span><span class="t">Validations</span></a><li>
      <li><a href="/validations" target="_self" ><span class="l"></span><span class="r"></span><span class="t">Documentation</span></a><li>
      <li><a href="/validations" target="_self" ><span class="l"></span><span class="r"></span><span class="t">Olympic</span></a><ul>
         <li><a href="/fdbtabs" target="_self" >Nomenclature</a></li>
         <li><a href="/fdbclis" target="_self" >Clients</a></li>
      </ul></li>
</ul>



<!-- END OF PULL DOWN MENU -->
