<div id="tabsC">
	<ul>
		<li>
			<a title="Home" href="/">
			<span>Home</span>
			</a>
		</li>
		<li>
			<a title="Reports" href="/reports">
			<span>Reports</span>
			</a>
		</li>
		<li>
			<a title="Accounts" href="#">
			<span>Accounts</span>
			</a>
		</li>
		<li>
			<a title="Positions" href="#">
			<span>Positions</span>
			</a>
		</li>
		<li>
			<a title="Clients" href="#">
			<span>Clients</span>
			</a>
		</li>
		<li>
			<a title="Settings" href="#">
			<span>Settings</span>
			</a>
		</li>
		<li>
			<a title="Validations" href="/validations">
			<span>Validations</span>
			</a>
		</li>
		<li>
			<a title="Documentation" href="#">
			<span>Documentation</span>
			</a>
		</li>
		<li>
			<a title="Settings" href="#">
			<span>Settings</span>
			</a>
		</li>
		<li>
			<a title="Sitemap" href="/sitemap">
			<span>Sitemap</span>
			</a>
		</li>
	</ul>
</div>