<div id="tabsC">
	<ul>
		<li>
			<a title="Link 1" href="#">
			<span>Home</span>
			</a>
		</li>
		<li>
			<a title="Link 2" href="#">
			<span>Reports</span>
			</a>
		</li>
		<li>
			<a title="Link 3" href="#">
			<span>Accounts</span>
			</a>
		</li>
		<li>
			<a title="Longer Link Text" href="#">
			<span>Positions</span>
			</a>
		</li>
		<li>
			<a title="Link 5" href="#">
			<span>Clients</span>
			</a>
		</li>
		<li>
			<a title="Link 6" href="#">
			<span>Settings</span>
			</a>
		</li>
		<li>
			<a title="Link 7" href="#">
			<span>Validations</span>
			</a>
		</li>
		<li>
			<a title="Link 8" href="#">
			<span>Documentation</span>
			</a>
		</li>
		<li>
			<a title="Link 9" href="#">
			<span>Settings</span>
			</a>
		</li>
		<li>
			<a title="Link 10" href="#">
			<span>Sitemap</span>
			</a>
		</li>
	</ul>
</div>