<span class="myapptitle">Finance application</span>

<div class="span-7 prepend-1 quiet">
  This application is reserved for the sole use of the finance department of the bank Hapoalim. 
</div>
<div class="span-9">
  <img src="/images/fun/vache.jpg" alt="meuh !!!" align="center"/> 
</div>
<div class="span-7 last quiet">
  If you think you have the right to get a login, please contact your administrator. Every new access will require a formular duly
	signed by the responsible of your department and the visa of the financial controller or the CFO.
</div> 

 <table>
  <tr>
  </tr>

<% @homes.each do |home| %>
  <tr>
    <td><%= link_to 'Show', home %></td>
    <td><%= link_to 'Edit', edit_home_path(home) %></td>
    <td><%= link_to 'Destroy', home, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />